<!DOCTYPE html>
<html>
  <head>
    <title>ChooseApps</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>ChooseApps</h1>
    <%= link_to 'Sign in with LinkedIn!', user_linkedin_omniauth_authorize_path %>
    <% if user_signed_in? %>
      <%= current_user.name %>
      <%= current_user.email %>
    <% end %>
    <%= yield %>
  </body>
</html>
