<!DOCTYPE html>
<html>
  <head>
    <title>ChooseApps</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <h1>ChooseApps</h1>
    <%= link_to 'Sign in with LinkedIn!', user_linkedin_omniauth_authorize_path %>
    <% if user_signed_in? %>
      <%= current_user.name %>
      <%= current_user.email %>
      <%= button_to 'Log Out', destroy_user_session_url, method: :delete %>
      <!-- <form class="" action="<%= destroy_user_session_url %>" method="post">
        <input type="hidden" name="_method" value="delete">
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
        <input type="submit" name="" value="Sign Out">
      </form> -->
    <% end %>
    <%= yield %>
  </body>
</html>
